#virtual-envs/venvs
dyson-venv
.venv
venv

#SadMac
.DS_Store

#VSCode
.vscode

#PythonCache
__pycache__

#files that might have secrets
devices.ini
influxdb.ini

#Build/Push Script for Docker Registry
build_push.sh
